<div class='md-card'>
	<div *ngIf='label' class='md-toolbar'>
		<div class='md-toolbar-tools'>
			<h2 class='md-title'>{{label}}</h2>
		</div>
	</div>

	<div class='md-table-container'>
		<table class='md-table {{type}}'>
			<thead class='md-head'>
				<tr class='md-row'>
					<th class='md-column md-sort' [ngClass]='{"md-numeric": data && data[0] && isNumber(data[0][fields[i]]), "md-active": sortBy.field === fields[i]}' *ngFor='let label of colNames; let i = index;' (click)='sort(fields[i])'>
						<span>{{label}}</span>
						<span class="md-icon md-sort-icon" *ngIf='sortBy.field === fields[i]' [ngClass]='{"md-asc": sortBy.type === "asc", "md-desc": sortBy.type === "desc"}'>↓
						</span>
					</th>
				</tr>
			</thead>
			<tbody class='md-body'>
				<tr class='md-row' *ngFor='let row of data | orderBy: sortBy.field: sortBy.type | slice:pagination.startItem: pagination.endItem'>
					<td class='md-cell {{fields.length - 1 === i ? ("md-season md-season--" + (row.season | slice:0:4)) : ""}}' [ngClass]='{"md-numeric": isNumber(row[field]), "md-expanded": row.isExpanded}' *ngFor='let field of fields; let i=index;'>
						<span *ngIf='i!==0 || (i===0 && !row.id)'>{{fields[i] === "date" ? row.date_display : row[field]}}</span>
						<a *ngIf='i===0 && !!row.id' href='https://www.strava.com/activities/{{row.id}}' target='_blank'>{{row[field]}}</a>

						<span *ngIf='i===0'>
							<span class='md-expand' (click)=toggleRow(row)>
								<span *ngIf='!row.isExpanded'>+</span>
								<span *ngIf='row.isExpanded'>-</span>
								отрезки
							</span>
							<loader type="gray right" [(isLoading)]='row.isLoading'></loader>
						</span>

						<div *ngIf='i === 0 && row.isExpanded && !row.isLoading'>
							<table class='md-subtable'>
								<thead class='md-subhead'>
									<tr class='md-subrow'>
										<th *ngFor='let splitCol of tableConfig.splits.colNames' class='md-subcolumn'>{{splitCol}}</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor='let split of row.detail?.splits'>
										<td *ngFor='let field of tableConfig.splits.fields' class='md-subcolumn'>{{split[field]}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class='md-table-pagination' *ngIf='withPagination'>
		<div class='page-select'>
			<div class='label'>Стр:</div>
			<div class='md-table-select md-select'>
				<div class='md-select-value'>
					<span>
						<div class='md-text'>{{pagination.page}}</div>
					</span>
					<!-- <span class='md-select-icon'></span> -->
				</div>
			</div>
		</div>

		<div class='buttons'>
			<div class="label">{{pagination.startItem + 1}} — {{pagination.endItem}} из {{pagination.totalItems}}</div>

			<button class='md-icon-button md-button md-ink-ripple' type='button' [attr.disabled]="pagination.page === 1 ? '' : null" (click)='changePage(-1)'>
				<div class='md-icon' md-svg-icon='navigate-before.svg' aria-hidden='true'>
					<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fit='' preserveAspectRatio='xMidYMid meet'>
						<path d='M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z'></path>
					</svg>
				</div>
				<div class="md-ripple-container"></div>
			</button>

			<button class='md-icon-button md-button md-ink-ripple' type='button' [attr.disabled]="pagination.hasNextPage ? null : ''" (click)='changePage(1)'>
				<div class='md-icon' md-svg-icon='navigate-before.svg' aria-hidden='true'>
					<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fit='' preserveAspectRatio='xMidYMid meet'>
						<path d='M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z'></path>
					</svg>
				</div>
				<div class="md-ripple-container"></div>
			</button>
		</div>

	</div>
</div>
