<div *ngIf='filterConf' class='filter-checkboxes' #filterCheckboxes>
	<mat-checkbox *ngFor='let filter of filterConf' [(ngModel)]='filter.val'	align='start'>{{filter.name}}</mat-checkbox>
</div>

<div class='mat-elevation-z8 {{classes}}' [class.empty_table]='dataSource.isEmpty'>
  <mat-table #table [dataSource]='dataSource' matSort>

    <ng-container *ngFor='let field of tableConfig.fields; let i = index;' matColumnDef='{{field}}'>
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{tableConfig.colNames[i]}} </mat-header-cell>
      <mat-cell *matCellDef='let element'>
				<span *ngIf='i === 0 && element.id'>
					<a class='link name' href='https://www.strava.com/activities/{{element.id}}' target='_blank'>{{element[field]}}</a>
					<div class='details'>
						<span class='detail link' (click)='showSplitsPopup(element.id, splitsComponent)'>отрезки</span>
						<a class='detail link' [routerLink]="['/segments', element.id]" target='_blank'>сегменты </a>
					</div>
				</span>
				<span *ngIf='i !== 0 || i === 0 && !element.id' [innerHtml]='element[field] | fieldFormatter: element: field'></span>
			</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef='tableConfig.fields'></mat-header-row>
    <mat-row *matRowDef='let row; columns: tableConfig.fields;'></mat-row>
	</mat-table>
</div>

<no-data-component *ngIf='filterConf && dataSource.isEmpty'></no-data-component>
