@import '~@angular/material/theming'

.mat-cell
	position: relative

.filter-checkboxes
	margin-bottom: 16px

	.mat-checkbox
		margin-right: 16px

.empty_table
	display: none !important;

.compact
	.mat-row
		min-height: 32px !important

	.mat-column-index
		flex: 0 0 80px

	.mat-column-distance
		flex: 0 0 130px

	.mat-column-moving_speed
		flex: 0 0 192px

	.mat-column-date
		flex: 0 0 192px

.no-shadow
	box-shadow: none !important

.border_top
	border-top: 1px solid rgba(0,0,0,.12)

.details
	display: none
	background: #fff
	position: absolute
	top: 50%
	right: 0
	transform: translateY(-50%)
	padding-left: 16px

	.detail
		float: right
		padding: 0 16px 0 0

.mat-row
	&:hover
		.details
			display: block


.ski-detail
	.mat-column-date
		flex: 0 0 96px

	.mat-column-name
		flex: 0 0 360px

@media only screen and (max-width: 600px)
	.cdk-column-elapsed_time,
	.cdk-column-rest_time
		display: none

	.cdk-column-name
		max-width: 116px
