<nav class='nav-extended'>
	<div class='nav-wrapper'>
		<ul class='right hide-on-med-and-down'>
			<li *ngFor='let item of items'>
				<a *ngIf='!item.IsDisabled' routerLink='{{item.Url}}' routerLinkActive='selected'>{{item.Name}}</a>
				<span *ngIf='item.IsDisabled' class='disabled'>{{item.Name}}</span>
			</li>
		</ul>
	</div>
	<div class='nav-content' *ngIf='currentMenu'>
		<ul class='tabs tabs-transparent'>
			<li class='tab' *ngFor='let subItem of currentMenu.Items'>
				<a routerLink='{{currentMenu.Url}}/{{subItem.Url}}' routerLinkActive='selected'>{{subItem.Name}}</a>
		</ul>
	</div>
</nav>
