<div class='header mat-elevation-z6'>
	<div class='button-row'>
		<a *ngFor='let item of items' mat-button class='mat-button' [routerLink]='item.Url' routerLinkActive='mat-button--active'>{{item.Name}}</a>
	</div>
</div>

<div *ngIf='currentMenu' class='z'>
	<nav mat-tab-nav-bar>
		<a mat-tab-link
			*ngFor='let subItem of currentMenu.Items'
			routerLink='{{currentMenu.Url}}/{{subItem.Url}}'
			routerLinkActive #rla='routerLinkActive'
			[active]='rla.isActive'>
			{{subItem.Name}}
		</a>
	</nav>
</div>
