<div *ngIf='!activitiesService.isLoading'>
	<div class='floating_left'>
		<chart [params]='totalDistanceParams'></chart>
	</div>

	<div class='floating_left'>
		<mat-form-field class='segments-select'>
			<mat-select placeholder='Сезоны' [(value)]='seasonsParams.selectedSeasonId'>
				<mat-option *ngFor="let season of seasonsParams.values" [value]="season.Id">{{season.Name}}</mat-option>
			</mat-select>
		</mat-form-field>

		<chart [params]='getByMonthsParams()' classes='with-dropdown not_floating'></chart>
	</div>

	<!-- <chart [params]='ridesAmountParams'></chart> -->
	<!-- <chart [params]='spentParams'></chart> -->
</div>

<loader [(isLoading)]='activitiesService.isLoading'></loader>


